* {
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'Overskrift';
    src: url('../Fonts/Loew-Heavy.otf') format('opentype');
}

/* Keyframes */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes bounce {
    0% {
        top: 87%;
    }

    50% {
        top: 90%;
    }

    100% {
        top: 87%;
    }
}

@keyframes bounce {
    0% {
        top: 87%;
    }

    50% {
        top: 90%;
    }

    100% {
        top: 87%;
    }
}

body {
    height: 100%;
    max-width: 100%;
}




/* Navigations styling */

header {
    z-index: 9999;
}

nav {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    transition: .8s;
    z-index: 999999;
}

nav.menu_baggrund {
    background: rgba(0, 0, 0, .8);
    padding: 5px 0px;
}

.knap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #555;
    color: #fff;
    background-color: rgb(249, 154, 56);
    font-size: 20px;
    font-family: Overskrift;
    z-index: 1000;

    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

.knap:hover {
    cursor: pointer;
}

.animation {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -32%);
    z-index: 10 animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

nav.menu_baggrund ul li a {
    color: white;
}

nav ul {

    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    line-height: 60px;
    color: #262626;
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: Overskrift;

}

nav.menu_baggrund nav ul li a {
    color: #fff;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #008f8a;
    transition: 1s;
    border-radius: 0px 15px 0px 15px;
}

.section1 {
    background-color: #008f8a;
    width: 100%;
    height: 100vh;
}

.stort_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lille_logo {
    width: 100px;
    padding: 10px 30px;
    transition: 1s;
    
}
.lille_logo:hover {
    width: 110px;
    transition: 0.8s;
}

nav.menu_baggrund ul li img {
    margin-bottom: -80px;
}

.scroll-indicator {
    position: absolute;
    font-size: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(249, 154, 56);
    z-index: 50;
    margin-top: 40px;

    -webkit-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}

.section2 {
    width: 100%;
    height: 100vh;
    background: url(Foto_%20Aarhus%20Kommune.jpg);
    background-size: cover;
}
