* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Overskrift';
    src: url('../Fonts/Loew-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Tekst';
    src: url('../Fonts/Loew-Regular.otf') format('opentype');
}

/* Keyframes */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    z-index: 9999;
}

nav {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    transition: .8s;
    z-index: 999999;
    
     animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

nav.menu_baggrund {
    background: rgba(0, 0, 0, .8);
    padding: 5px 0px;
}


nav.menu_baggrund ul li a {
    color: white;
}

nav ul {

    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    padding: 2px;
}

nav ul li .tt {
    font-size: 20px;
    line-height: 80px;
    color: #262626;
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: Overskrift;
}

nav ul li img {
    line-height: 20px;
}

nav.menu_baggrund nav ul li a {
    color: #fff;
}

nav ul li .tt.active {
    border: 1px solid #fff;
}
nav ul li .tt:hover {

    color: #fff;
    background: rgba(0, 0, 0, .8);
    transition: 1s;
    border-radius: 0px 15px 0px 15px;
}

nav.menu_baggrund ul li .tt.active,
nav.menu_baggrund ul li .tt:hover {
    color: #fff;
    background: #008f8a;
    transition: 1s;
    border-radius: 0px 15px 0px 15px;
}

nav.menu_baggrund ul li img {
    margin-bottom: -100px;
}

.lille_logo {
    width: 110px;
    padding: 10px 30px;
    transition: 0.8s;

}

.lille_logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.section1 {
    background: url(../Billeder/koncept-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
}

/*-----------------------Tekst afsnit--------------------------------*/

.content {
    overflow: hidden;
}

.koncept {
    width: 100%;
    height: 650px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #00a87b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    
}


.koncept_tekst {
    position: relative;
    max-width: 50%;
    top: 20%;
    left: 10%;
}

.koncept h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #555;
}

.koncept p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;
}

.citat1 {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 650px;
    margin-top: -370px;
    background-color:#156a5a;
}

.citat1_tekst {
    position: absolute;
    max-width: 50%;
    bottom: 15%;
    right: 5%;
    text-align: right;
}

.citationstegn1 {
    position: relative;
    top: 48%;
    left: 45%;
    color: #f99a38;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
}

.citationstegn2 {
    position: absolute;
    bottom: 8%;
    right: 3%;
    color: #f99a38;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
    transform: rotate(180deg);
}

.citat1 h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #555;
}

.citat1 p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;
}

.containerbillede {
    background: url(../Billeder/orange-container.JPG);
    width: 100%;
    height: 650px;
    z-index: 200;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    overflow: hidden;
  
}

.cirkulærøkonomi {
    position: relative;
    z-index: -1000;
    width: 100%;
    height: 650px;
    margin-top: -290px;
    background-color: #008f8a;
}

.cirkulærøkonomi_tekst {
    position: relative;
    max-width: 50%;
    top: 30%;
    left: 10%;
}

.cirkulærøkonomi h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
}

.cirkulærøkonomi h3 {
    color: #fff;
    font-family: tekst;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
}

.cirkulærøkonomi p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;
}

.indretning {
    position: relative;
    z-index: -50;
    width: 100%;
    height: 650px;
    background-color: #074f4b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.indretning_tekst {
    position: relative;
    max-width: 50%;
    top: 25%;
    left: 45%;
    text-align: right;
}

.indretning h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
}

.indretning p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: tekst;
    line-height: 40px;
}

.indretningsbillede {
    position: relative;
    background: url(../Billeder/indretning.JPG);
    width: 100%;
    height: 650px;
    z-index: -60;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: -290px;
    
}

.tekstboks1 {
    background-color: #008f8a;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}  

.tekstboks1_tekst {
    position: relative;
    max-width: 80%;
    top: 25%;
    left: 10%;
    text-align: center;
}

.tekstboks1 h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
} 

.tekstboks1 p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: tekst;
    line-height: 40px;
}

/*-----------------------------FOOTER--------------------------------*/

footer {
    min-height: 450px;
    background-color: #262626;
    color: #fff;
    font-family: tekst;
}

.some {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.some div {
    display: flex;
    background-color: #074f4b;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    justify-content: center;
    margin: 50px;
}


.some a {
    position: relative;
    top: 15%;
    text-decoration: none;
    color: #262626;
    font-size: 50px;
}

.some i {
    color: #fff;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.info div {
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
}

.info h2 {
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: Overskrift;
    margin-bottom: 20px;
    text-decoration: underline;
}

.info p {
    letter-spacing: 1px;
}

.copyright {
    text-align: center;
    font-family: Overskrift;
    font-size: 20px;
    padding: 5px;
    letter-spacing: 5px;
}


