* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Overskrift';
    src: url('../Fonts/Loew-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Tekst';
    src: url('../Fonts/Loew-Regular.otf') format('opentype');
}

/* Keyframes */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    height: 100%;
    max-width: 100%;
}

header {
    z-index: 9999;
}

nav {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    transition: .8s;
    z-index: 999999;

    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

nav.menu_baggrund {
    background: rgba(0, 0, 0, .8);
    padding: 5px 0px;
}


nav.menu_baggrund ul li a {
    color: white;
}

nav ul {

    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    padding: 2px;
}

nav ul li .tt {
    font-size: 20px;
    line-height: 80px;
    color: #262626;
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: Overskrift;
}

nav ul li img {
    line-height: 20px;
}

nav.menu_baggrund nav ul li a {
    color: #fff;
}

nav ul li .tt.active {
    border-bottom: 1px solid #fff;
}

nav ul li .tt:hover {

    color: #fff;
    background: rgba(0, 0, 0, .8);
    transition: 1s;
    border-radius: 0px 15px 0px 15px;
}

nav.menu_baggrund ul li .tt.active,
nav.menu_baggrund ul li .tt:hover {
    color: #fff;
    background: #008f8a;
    transition: 1s;
    border-radius: 0px 15px 0px 15px;
    border: 1px solid #fff;
}

nav.menu_baggrund ul li img {
    margin-bottom: -100px;
}

.lille_logo {
    width: 110px;
    padding: 10px 30px;
    transition: 0.8s;

}

.lille_logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

nav ul li ul {
    position: absolute;
    left: 1%;
    display: none;
    background: rgba(0, 0, 0, .8);
    margin-top: -18px;
    font-size: 12px;
    width: 98.5%;
    color: #fff;
}

nav ul li ul li {
    text-align: center;
    padding: 5px;
    color: #fff;
    transition: 0.5s;
}

nav ul li ul li a {
    color: #fff;
    font-family: Overskrift;
    text-decoration: none;
    display: block;
}

nav ul li:hover > ul, nav
ul li ul:hover {
    position: relative;
    display: block;
    color: #fff;
}

nav ul li ul li:hover {
    background-color: rgba(0, 0, 0, .5);
}

nav.menu_baggrund ul li ul {
    background-color: rgb(0, 143, 138);
    left: 1%;
    margin-top: -18px;
    font-size: 15px;
    width: 98.5%;
    color: #fff;
}

nav.menu_baggrund ul li ul li:hover {
    background-color: rgba(0, 0, 0, .5);
}


.section1 {
    background: url(../Billeder/praktisk%20reuse.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;


}

/*-----------------------------Praktisk -----------------------------*/
.praktisk {
    width: 100%;
    height: 600px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #00a87b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

}

.tekstboks1 {
    margin: 100px;
    width: 60%;
}

h1 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;

}

.broedtekst {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;

}

/*--boks2--*/

h2 {
    color: #fff;
    font-family: tekst;
    font-size: 50px;
    letter-spacing: 2px;
}

.aabningstider {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 850px;
    margin-top: -370px;
    background-color: #156a5a;
}


.tekstboks2 {
    position: absolute;
    max-width: 60%;
    bottom: 25%;
    right: 5%;
    text-align: right;
}

.kort{position}

/*--Boks3---*/

.aflever {
    width: 100%;
    height: 600px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #074f4b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

}

.tekstboks3 {
    margin: 100px;
    width: 60%;
}

/*---boks4---*/
.afleverikke {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 850px;
    margin-top: -370px;
    background-color: #008f8a;
}

/*---boks5---*/

.ladcykel {
    width: 100%;
    height: 600px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #00a87b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

}
/*--boks6---*/
.kontakt {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 650px;
    margin-top: -370px;
    background-color: #156a5a;
}

/*-----------------------------FOOTER--------------------------------*/


footer {
    min-height: 450px;
    background-color: #262626;
    color: #fff;
    font-family: tekst;
}

.some {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.some div {
    display: flex;
    background-color: #074f4b;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    justify-content: center;
    margin: 50px;
}


.some a {
    position: relative;
    top: 15%;
    text-decoration: none;
    color: #262626;
    font-size: 50px;
}

.some i {
    color: #fff;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.info div {
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
}

.info h2 {
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: Overskrift;
    margin-bottom: 20px;
    text-decoration: underline;
}

.info p {
    letter-spacing: 1px;
}

.copyright {
    text-align: center;
    font-family: Overskrift;
    font-size: 20px;
    padding: 5px;
    letter-spacing: 5px;
}
